var-overflow = hidden
var-background-color = #e5e9e8
var-backgorund-color--body = #DFE2E2
var-background-color--down = #d3d7d7
var-border = 1px solid #a5a8a8
var-box-shadow = inset 0 1px #fff
var-box-shadow--down = inset 0 1px rgba(0, 0, 0, 0.12)
var-color = #454545
var-vertical-align = top
var-text-shadow = 0 1px #fff
var-font-size = 16px
var-line-height = 3rem
var-letter-spacing = 1px
var-border-radius = 6px
/* Icon button */
var-width--icon-button--large = 4rem;
var-height--icon-button--large = 4rem;
var-padding--icon-button = 0 0.75rem
var-line-height--icon-buton--large = 4rem
var-width--icon = 1.5rem
var-height--icon = 1.5rem
var-vertical-align--icon = middle
/* TODO: see if we can refactor to one rem based margin for all buttons  */
var-background-size--icon = cover
var-width--large--icon = 2.5rem
var-height--large--icon = 2.5rem
var-menu-stack-icon = url("../../test/fixtures/img/hamburger_dark.svg");
