/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

@import button-mixin
@import utils
/* topdoc
  name: Icon Button
  description: Like button, but it has an icon.
  modifiers:
    :active: Active state
    :disabled: Disabled state
  markup:
    <button class="topcoat-icon-button">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </button>
    <button class="topcoat-icon-button" disabled>
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </button>
  tags:
    - desktop
    - light
    - mobile
    - button
    - icon
*/
.topcoat-icon-button
    button-base()
    padding var-padding--icon-button
    line-height var-height
    letter-spacing var-letter-spacing
    color var-color
    text-shadow var-text-shadow
    vertical-align baseline
    background-color var-background-color
    box-shadow var-box-shadow
    border var-border
    border-radius var-border-radius

.topcoat-icon-button:active
    background-color var-background-color--down
    box-shadow var-box-shadow--down

.topcoat-icon-button:disabled
    disabled()
/* topdoc
  name: Quiet Icon Button
  description: Like quiet button, but it has an icon.
  modifiers:
    :active: Active state
    :disabled: Disabled state
  markup:
    <button class="topcoat-icon-button--quiet">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </button>
    <button class="topcoat-icon-button--quiet" disabled>
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </button>
  tags:
    - desktop
    - light
    - mobile
    - button
    - icon
    - quiet
*/
.topcoat-icon-button--quiet
    @extend .topcoat-icon-button
    button-base--quiet()

.topcoat-icon-button--quiet:active
    color var-color
    text-shadow var-text-shadow
    background-color var-background-color--down
    border var-border
    box-shadow var-box-shadow--down

.topcoat-icon-button--quiet:disabled
    disabled()
/* topdoc
  name: Large Icon Button
  description: Like large button, but it has an icon.
  modifiers:
    :active: Active state
    :disabled: Disabled state
  markup:
    <button class="topcoat-icon-button--large">
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </button>
    <button class="topcoat-icon-button--large" disabled>
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </button>
  tags:
    - desktop
    - light
    - mobile
    - button
    - icon
    - large
*/
.topcoat-icon-button--large
    @extend .topcoat-icon-button
    width var-height--large
    height var-height--large
    line-height var-height--large

.topcoat-icon-button--large:active
    background-color var-background-color--down
    box-shadow var-box-shadow--down

.topcoat-icon-button--large:disabled
    disabled()
/* topdoc
  name: Large Quiet Icon Button
  description: Like large button, but it has an icon and this one is quiet.
  modifiers:
    :active: Active state
    :disabled: Disabled state
  markup:
    <button class="topcoat-icon-button--large--quiet">
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </button>
    <button class="topcoat-icon-button--large--quiet" disabled>
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </button>
  tags:
    - desktop
    - light
    - mobile
    - button
    - icon
    - large
    - quiet
*/

.topcoat-icon-button--large--quiet
    @extend .topcoat-icon-button--large
    button-base--quiet()

.topcoat-icon-button--large--quiet:active
    @extend .topcoat-icon-button--quiet:active

.topcoat-icon-button--large--quiet:disabled
    disabled()

.topcoat-icon
  inline-block()
  overflow var-overflow
  width var-size--icon
  height var-size--icon
  vertical-align middle

.topcoat-icon--large
  @extend .topcoat-icon
  width var-size--icon--large
  height var-size--icon--large

